@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Fugaz+One&family=Montserrat:ital,wght@0,700;1,400&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;700&family=Stint+Ultra+Condensed&display=swap');
:root {
    --primary-color:  #4d4d00;
    --dark-grey: #9CA3AF;
    --off-white: #f3f4f6;
    --hover-color:#93C5FD;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1{
    text-align: center;
    margin: auto;
}

hr{
    margin: 2.5rem 0rem;
}
/* Container */

.container {
    padding: 0rem 1rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.8rem 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-primary:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    color: black;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    color: black;
}
p{
    padding-bottom: 1.5rem;
}

/* lists */
 .list-non-bullet {
     list-style: none;
 }

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
}
.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
    text-align: right;
}

.navigation .link-active {
    color: rgb(13, 161, 230);
}

/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center; 
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;
    text-align: center;
}
.section h1{
    text-align: center;
    padding: 2rem;
}

.off-white {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-bottom: 0px;
}
.footer .ul {
    padding-inline-start: 0px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 0;

  }
  .fa:hover{
      background-color: black;
  }
  .fa-github {
    background: #3b9298;
    color: white;
    padding: 1rem 1rem;
  }
  .fa-linkedin {
    background: #3b9298;
    color: white;
    padding: 1rem 1rem;
  }
  .fa-twitter {
    background: #3b9298;
    color: white;
    padding: 1rem 1rem;
  }
  .showcase-list{
      padding-bottom: 5rem;
  }
  .img{
      height: 300px;
      width: 300px;
      text-align: center;
      display: block;
      margin: auto;
  }
 .showcase-list h1{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #808000;
 }
 .date{
     padding-top: 10rem;
     font-size: .8rem;
 }
 .bimg{
     width: 500px;
     padding-top: 2rem;
     margin: auto;
 }
 .showcase h1{
     text-align: left;
     padding-top: 2rem;
 }